<h1>Add New Story</h1>
<div>
  <form>
    <div>
      <h2>Title</h2>
      {{input value=title id="title"}}
    </div>
    <div>
      <h2>Image</h2>
      {{input value=image id="image"}}
    </div>
    <div>
      <h2>Author</h2>
      {{input value=author id="author"}}
    </div>
    <div>
      <h2>Date</h2>
      {{input value=date id="date"}}
    </div>
    <div>
      <h2>Category</h2>
      {{input value=category id="category"}}
    </div>
    <div>
      <h2>Text</h2>
      {{input value=text id="text"}}
    </div>
    <button {{action "save1"}}>Submit</button>
  </form>
</div>
