<div class="row">
  <div class="col-xs-6">
    <h1>{{model.title}}</h1>
    <h3>{{model.author}}</h3>
    <div class="row">
      <h3 class="col-xs-6">{{model.date}}</h3>
      <h3 class="col-xs-6">{{model.category}}</h3>
    </div>
  </div>
  <div class="col-xs-6">
    <p>
      <img src={{model.image}} alt={{model.title}}/>
    </p>
  </div>
</div>
{{story-detail story=model}}
